* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: rgb(172, 83, 0);
}

header {
    padding: 20px;
}

h1 {
    text-align: center;
    padding: 20px;
}

p {
    box-sizing: border-box;
    text-align: center;
    position: relative;
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: coral;
    margin: 10px;
}

img {
    align-content: center;
    margin-left: 40%;
}

div {
    width: 200px;
    height: 200px;
    background-color: brown;
    border: white 2px solid;
    padding: 20px;
    margin: 10px;
    margin-left: 43%;
    color: white;
    text-align: center;
    font-weight: 900;
}